.container {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #fff;
}

.banner {
    -fx-background-color: #63d145;
    -fx-padding: 10;
}

.subbanner {
    -fx-background-color: #eaeaea;
    -fx-padding: 5;
}

.mainheading {
    -fx-text-fill: #fff;
    -fx-font: NORMAL 30 Tahoma;
}

.subheading {
    -fx-font: NORMAL 20 Tahoma;
}

.error {
    -fx-text-fill: red;
}